@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
    box-sizing: border-box;

}
body{
    background: linear-gradient(-45deg, #009dff, #ffffff,  #a1cee9);
    height: 100%;
    text-align: center;
    min-height: 100vh;

}

main{
    display: inline-block;
    position: relative;
    margin-top: 2%;
    padding: 15;
}

.pokedex{
    width: 100%;
    max-width: 500px;
    border-radius: 3%;
}

.pokemon-imagem{
   position: absolute; 
   bottom: 45%;
   left: 39%;
   width: 25%;
}

form{
    position: absolute;
    bottom: 4.5%;
    left: 30%;
    
}
.search{
    width: 112%;
    height: 11vh;
    border-style: none;
    background-color: transparent;
    font-size: large;
    text-align: center;
}

.buttons {
    position: absolute;
    top: 86.3%;
    left: 18%;
    
}

.button.btn-prev{
    position: absolute;
    right: 100%;
    width: 110%;
    height: 25px;
    
    background-color: transparent;
}

.btn-next{
    width: 40px;
    height: 25px;
    right: 60px;
    background-color: transparent;
}

.pokemon-dados{
    position: absolute;
    bottom: 21%;
    left: 10%;
    font-size: 150%;
}

.pokemonTipo{
    position: absolute;
    left: 330px;
    top: -13%;
}
.botaoenviar{
    position: absolute;
    width: 30%;
    height: 50%;
    border-radius: 100%;
    left: 260px;
    top: 40px;
    background-color: transparent;
    border-color: transparent;
    

}

.botaoenviar img{
    position: absolute;
    width: 60px;
    bottom: -5px;
    right: -5px;
    


}